node_modules

!node_modules/tree-sitter-*/


# Exclude source code, old build artifacts, and tests.
src/
out/
.vscode-test/
test.cpp

# Exclude config, git, and lock files.
.vscode/
.git/
.gitignore
.yarnrc
yarn.lock
package-lock.json
*.vsix
*.map
**/tsconfig.json
**/webpack.config.js
**/eslint.config.mjs